In [2]:
#Cargamos las librerias:

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px
from sklearn.impute import KNNImputer
import scipy.stats as ss

sns.set()
#pip install style
#style.use('ggplot') or plt.style.use('ggplot')
plt.rcParams['image.cmap'] = "bwr"
plt.rcParams['savefig.bbox'] = "tight"

In [3]:
#Recomiendo guargar el csv en la misma carpeta que el ipynb
data = pd.read_csv('eurusdg.csv',sep=';',encoding='utf-8')

In [4]:
data.head()

        Fecha  Último  Apertura  Máximo  Mínimo  % var.
0  27/06/2022  1.0604    1.0567  1.0615  1.0550   0.35%
1  26/06/2022  1.0567    1.0555  1.0575  1.0552   0.10%
2  24/06/2022  1.0556    1.0526  1.0572  1.0511   0.31%
3  23/06/2022  1.0523    1.0567  1.0582  1.0482  -0.40%
4  22/06/2022  1.0565    1.0527  1.0606  1.0468   0.38%

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024 entries, 0 to 11023
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     11024 non-null  object
 1   Último    11024 non-null  float64
 2   Apertura  11024 non-null  float64
 3   Máximo    11024 non-null  float64
 4   Mínimo    11024 non-null  float64
 5   % var.    11024 non-null  object
dtypes: float64(4), object(2)
memory usage: 516.9+ KB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Último,11024.0,1.166065,0.171122,0.6444,1.084275,1.17510,1.281600,1.5988
Apertura,11024.0,1.166059,0.171111,0.6444,1.084200,1.17510,1.281325,1.6000
Máximo,11024.0,1.170573,0.172310,0.6444,1.089200,1.17970,1.287725,1.6039
Mínimo,11024.0,1.161447,0.169930,0.6444,1.080000,1.17035,1.275000,1.5865